{% extends "base.html" %} 
{% set active_page = "donate" %}
{% block title %}Doe{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<h1 class="cap">Doe</h1>

{% if success %}
  <div class="alert alert-success" role="alert">
    Doador e doação cadastrados corretamente!
  </div>
{% elif success is not none %}
  <div class="alert alert-danger" role="alert">
    Houve um problema com o registro ou doação. Por favor, tente novamente.
  </div>
{% endif %}

<form method="POST">
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        placeholder="Email de contato"
      />
    </div>
    <div class="form-group">
      <label for="titulo">Título:</label>
      <input
        type="text"
        class="form-control"
        id="titulo"
        name="titulo"
        placeholder="Titulo do livro"
      />
    </div>
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        placeholder="Como podemos te chamar?"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submeter</button>
  </form>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
